# There's apparently some sort of race condition when running node-gyp in parallel
# so we just run everything serially. Will look into this more later.
# See: https://github.com/nodejs/node-gyp/issues/3095
foreground-scripts=true
